<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://pbs.twimg.com/profile_images/529203706252636160/tXghn4ct_400x400.jpeg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Viaplay</strong> <small>@viaplay</small> <small>3 måneder</small>
          <br>
          Få 3 måneder gratis Viaplay. Du kan se et hav af film, serie og andet lækkert.
          <ul>
            <a class="button is-info" target="_blank" href="https://viaplay.dk">Få tilbud</a>
          </ul>
        </p>
      </div>
    </div>
  </article>
</div>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://pbs.twimg.com/profile_images/529203706252636160/tXghn4ct_400x400.jpeg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Viaplay</strong> <small>@viaplay</small> <small>3 måneder</small>
          <br>
          Få 3 måneder gratis Viaplay. Du kan se et hav af film, serie og andet lækkert.
          <ul>
            <a class="button is-info" target="_blank" href="https://viaplay.dk">Få tilbud</a>
          </ul>
        </p>
      </div>
    </div>
  </article>
</div>
