<div class="columns border-top">
          <div class="column is-9 pl6">
            <div class="columns border-bottom pt4">
              <div class="column is-1">
              </div>
              <div class="column is-8">
                <h3 class="title is-4 index-title">Viaplay Titel</h3>
                <div class="pv2 f6">
                  <p>beskrivelse her</p>
                  <script src ="https://form.jotformeu.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
        var JFL_83294292115356 = new JotformFeedback({
          formId: '83294292115356',
          base: 'https://form.jotformeu.com/',
          windowTitle: 'Viaplay',
          background: '#2d2d2d',
          fontColor: '#FFFFFF',
          type: 'false',
          height: 500,
          width: 700,
          openOnLoad: false
        });
    </script>
      <a class="btn lightbox-83294292115356" style="margin-top: 16px">
        Clone of Hey Ad
      </a>
                </div>

                </div>
                <div class="column has-text-right">
                  <p class="pt2 f6">Vip medlem</p>
                </div>
              </div>
          </div>
        </div>
