  <div class="column is-9 pl6">
    <div class="columns border-bottom pt4">
      <div class="column is-1">
      </div>
      <div class="column is-8">
        <h3 class="title is-4 index-title">Viaplay</h3>
        <div class="pv2 f6">
          <p>detter er viaplaydetter er viaplaydetter er viaplaydetter er viaplaydetter er viaplaydetter er viaplaydetter er viaplaydetter er viaplay</p>
        </div>
