<div class="columns border-top">
          <div class="column is-9 pl6">
            <div class="columns border-bottom pt4">
              <div class="column is-1">
                hhhhh
                <% end %>
              </div>
              <div class="column is-8">
                <h3 class="title is-4 index-title">Viaplay Titel</h3>
                  <ul>
                    <li>linkher</li>
                  </ul>
                <div class="pv2 f6">
                  <p>beskrivelse her</p>
                </div>

                </div>
                <div class="column has-text-right">
                  job type
                  <p class="pt2 f6">Vip medlem</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
